.header-container {
  margin-bottom: 25px;
  width: 100%;
  font-size: larger;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  background-color: black;
  color: white;
}

.spinner-container {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogposts {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
  row-gap: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.border {
  border: 1px solid #d7d7dc;
  border-radius: 4px;
}

.comments-container {
  margin-top: 30px;
  padding: 20px;
}

.comments-container > div {
  margin-bottom: 7px;
}